/*-- scss:defaults --*/


// footer background color
// $footer-bg: #efeddf; 

//primary color
$secondary: #afafaf;
$primary: #94d0b9;

// inline code text color:
// $code-color: rgb(167, 151, 2);

.column.left-col {
  border-right: 1px solid #ccc;
  padding-right: 1rem;
}

.column.right-col {
  padding-left: 1rem;
}